<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.design.material.materialdesign">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MaterialDesign"/>

        <activity android:name=".bottomnavgationview.BottomNavigationActivity"/>

        <activity android:name=".threeslideview.viewflipper.activity.ViewFlipper1Activity"/>

        <activity android:name=".threeslideview.viewflipper.activity.ViewFlipper2Activity"/>

        <activity android:name=".threeslideview.viewpager.activity.ViewPager1Activity"/>

        <activity android:name=".threeslideview.viewpager.activity.ViewPager2Activity"/>

        <activity android:name=".threeslideview.viewflow.ViewFlowActivity"/>

        <activity android:name=".flycotablayout.acticity.SlidingTabActivity"/>

        <activity android:name=".flycotablayout.acticity.CommonTabActivity"/>

        <activity android:name=".flycotablayout.acticity.SegmentTabActivity"/>

        <activity android:name=".pdfview.PDFViewActivity"/>

        <activity android:name=".richtext.RichTextActivity"/>

        <activity android:name=".guideview.GuideViewActivity"/>

        <activity android:name=".guideview.FullActivity"/>

        <activity android:name=".guideview.FragActivity"/>

        <activity android:name=".guideview.MyListActivity"/>

        <activity android:name=".guideview.SimpleGuideViewActivity"/>

        <activity android:name=".guideview.ViewActivity"/>

        <activity android:name=".showcaseview.ShowCaseView"/>

        <activity android:name=".showcaseview.ActionItemsSampleActivity"/>

        <activity android:name=".showcaseview.FragmentDemoActivity"/>

        <activity android:name=".showcaseview.EventsActivity"/>

        <activity android:name=".showcaseview.SingleShotActivity"/>

        <activity android:name=".showcaseview.AnimationSampleActivity"/>

        <activity android:name=".showcaseview.CustomTextActivity"/>

        <activity android:name=".showcaseview.CustomShowcaseActivity"/>

        <activity android:name=".showcaseview.MemoryManagementTesting"/>

        <activity android:name=".cardstackview.CardStackViewActivity"/>

        <activity android:name=".liquidbutton.LiquidButtonActivity"/>

        <activity android:name=".cardslide.CardSlideActivity"/>
    </application>

</manifest>